:root {
  --primary-color: hsl(196, 63%, 56%);
  --secondary-color: rgb(19, 18, 18);
  --tertiary-color: hsl(196, 58%, 20%);
}
.container{
  max-width: 60rem;
  margin: 0 auto;
}
body {
  background-color: rgb(19, 18, 18);
  font-family: sans-serif;
  margin: 0;

}

#board {
  background-color: black;
  margin-top: 5rem;
  border-radius: 20px;
}
.buttons {
  display: flex;
  gap: 5rem;
  justify-content: center;
}
button {
  margin-top: 4rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 2rem;
  border: var(--primary-color) solid 0.2rem;
  text-align: center;
  background-color: var(--primary-color);
  font-weight: bold;
  color: white;
  position: relative;
  font-family: sans-serif;
  font-size: 1.5rem;
  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
  }
  &:active {
    transform: scale(0.85);
    transition: 50ms;
  }
}


section {


  & li {
    list-style: none;
    margin-bottom: 2rem;
    
  }
}
strong{
  color: var(--primary-color);

}
li.steps.--part3 {
  margin-top: 6rem;
}
.containerheader{
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.content img{
  display: flex;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
header {
background-color: black;
  color: white;
  border-bottom: 20px  dashed rgb(210, 3, 3);
  
}
.animation{
  text-align: center;

  margin-top: 4rem;
  color: white;
}
.animation::after{
  content: "";
  position: absolute;
  width: 60px; 
  height: 7px; 
  background-color: hsl(120, 54%, 62%); 
  animation: moveHorizontal 4s infinite alternate; 
  margin-top: 2rem;


}
@keyframes moveHorizontal {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 50px); 
  }
}
.intro h2{
  margin-top: 5rem;
  font-size: 2rem;
  color: white;
}
.intro {
  text-align: center;
}
.outro{
  text-align: center;
  & p{
    margin-bottom: 5rem;
    font-size: 2rem;
    color: white;
  
  }
}

.content{
  color: white;
  margin-top: 5rem;
  padding: 1rem;
  & ul{
    padding: 0rem;
  }
  & a{
    color: var(--primary-color);
    text-decoration: none;
  }
}

.steps--text{
  margin-top: -2rem;
}


footer{
  color: white;
  text-align: center;
  font-family: sans-serif;
}